@model List<Model.EF.Menu>
    <!-- Topbar -->
    <div class="top-bar">
        <div class="content-topbar flex-sb-m h-full container">
            <div class="left-top-bar">
                Miễn phí vận chuyển cho đơn hàng từ 500.000đ
            </div>

            <div class="right-top-bar flex-w h-full">
                @{
                    var session = (UserLogin)Session[DoAn1.Common.CommonConstants.USER_SESSION];
                }
                @if (session == null)
                {
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li><a href="@item.Link" target="@item.Target" class="flex-c-m trans-04 p-lr-25">@item.Text</a></li>
                        }

                    </ul>
                }
                else
                {
                    <ul>
                        <li>Xin chào:@session.UserName</li>
                        <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
                    </ul>
                }

            </div>
            </div>
        </div>
            <div class="clear"></div>