
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/blog.png');">
    <h2 class="ltext-105 cl0 txt-center">
        Tin tức
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    <!-- item blog -->
                    <div class="p-b-63">
                        <a href="blog-detail.html" class="hov-img0 how-pos5-parent">
                            <img src="/assets/client/images/nikeairforce1.jpg"alt="IMG-BLOG" />
                            <div class="flex-col-c-m size-123 bg9 how-pos5">
                                <span class="ltext-107 cl2 txt-center">
                                    20
                                </span>

                                <span class="stext-109 cl3 txt-center">
                                    June 2020
                                </span>
                            </div>
                        </a>

                        <div class="p-t-32">
                            <h4 class="p-b-15">
                                <a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">
                                    Vì Sao Giày Nike Air Force 1 Trắng Luôn Được Các Bạn Nữ Cá Tính Lựa Chọn
                                </a>
                            </h4>

                            <p class="stext-117 cl6">
                                Thiết kế của Giày Nike Air Force 1 Trắng được đánh giá là một trong những mẫu sneaker đình đám nhất và điển hình nhất trong danh...
                            </p>

                            <div class="flex-w flex-sb-m p-t-18">





                                <a href="/TinTuc/Detail" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                    Continue Reading

                                    <i class="fa fa-long-arrow-right m-l-9"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- item blog -->
                    <div class="p-b-63">
                        <a href="blog-detail.html" class="hov-img0 how-pos5-parent">
                            <img src="/assets/client/images/adidasfalcon.jpg" alt="IMG-BLOG">

                            <div class="flex-col-c-m size-123 bg9 how-pos5">
                                <span class="ltext-107 cl2 txt-center">
                                    18
                                </span>

                                <span class="stext-109 cl3 txt-center">
                                    Jan 2018
                                </span>
                            </div>
                        </a>

                        <div class="p-t-32">
                            <h4 class="p-b-15">
                                <a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">
                                    Adidas Falcon – Mẫu giày đẹp lạ dành cho các Sneakerhead cá tính và nổi loạn
                                </a>
                            </h4>

                            <p class="stext-117 cl6">
                                Adidas Falcon là đôi giày được lấy cảm hứng từ “ngôn ngữ” thiết kế của những thập niên 90. Đôi giày thể hiện một cách xuất sắc tinh thần của những sản phẩm xưa cũ nhưng cũng kết hợp hài hòa với công nghệ và những chi tiết cải tiến sắc nét nhẹ nhàng. Falcon thực sự gây ra cơn sốt và ngay lập tức chiếm được cảm tình của những tín đồ thời trang.     
                            </p>

                            <div class="flex-w flex-sb-m p-t-18">

                                <a href="/TinTuc/Detail1" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                    Continue Reading

                                    <i class="fa fa-long-arrow-right m-l-9"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>	

